{% extends "base.html" %}

{% block title %}Voting Page{% endblock %}

{% block content %}

{% if session["reg_number"] %}
            <div class="container mt-5">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h3 class="card-title text-white">Hello, {{ session["fullname"]}}!</h3>
                        <p class="card-text text-white">You're logged in with Reg. No: <strong>{{ session["reg_number"] }}</strong></p>

                        <a href="{{ url_for('user_links',link_type = "vote") }}" class="btn btn-primary">Go to Voting Page</a>
                    </div>
                </div>
            </div>
    {% else %}



    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/image0.jpg') }}" class="img-fluid w-100" style="; height: 500px; object-fit: cover;" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/image1.jpg') }}" class="img-fluid w-100" style="; height: 500px; object-fit: cover;" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/image2.jpg') }}" class="img-fluid w-100" style="; height: 500px; object-fit: cover;" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/image3.jpg') }}" class="img-fluid w-100" style="; height: 500px; object-fit: cover;" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='img/image4.jpg') }}" class="img-fluid w-100" style="; height: 500px; object-fit: cover;" alt="...">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




        <div class="container d-flex justify-content-center align-items-center">
            <div class="card text-bg-dark text-center p-4 shadow-lg">
                <h1 class="fw-bold">PALG UNN Voting</h1>
                <p class="lead">
                    A fair, secure, and transparent platform to cast your vote.
                    Your voice matters—make it count!
                </p>
                <a href="{{ url_for("user_links",link_type="signup")}}" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </div>
        {% endif %}
{% endblock %}
